<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="header">
        <!-- Header -->
        <header class="ltn__header-area ltn__header-3 section-bg-6">
            <!-- ltn__header-middle-area start -->
            <div class="ltn__header-middle-area">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="site-logo" style="justify-content: center;">
                                <a href="/"><img th:src="@{/resources/front/img/logo.png}" style="max-width: 70%;" alt="Logo" /></a>
                            </div>
                        </div>
                        <div class="col header-contact-serarch-column d-none d-xl-block">
                            <div class="header-contact-search">
                                <!-- header-feature-item -->
                                <div class="header-feature-item">
                                    <div class="header-feature-icon">
                                        <i class="icon-phone"></i>
                                    </div>
                                    <div class="header-feature-info">
                                        <h6>Số Điện Thoại</h6>
                                        <p><a href="tel:0123456789">+0123-456-789</a></p>
                                    </div>
                                </div>
                                <!-- header-search-2 -->
                                <div class="header-search-2">
                                    <form id="#123" method="get" action="/shop">
                                        <input type="text" name="search" value="" placeholder="Bạn muốn mua gì..." />
                                        <button type="submit">
                                            <span><i class="icon-magnifier"></i></span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <!-- header-options -->
                            <div class="ltn__header-options">
                                <ul>
                                    <li>
                                        <!-- mini-cart 2 -->
                                        <div class="mini-cart-icon mini-cart-icon-2">
                                            <a href="/cart">
                                                <span class="mini-cart-icon">
                                                    <i class="icon-handbag"></i>
                                                    <sup th:text="${cart.cartItems.size()}"></sup>
                                                </span>
                                                <h6>
                                                    <span>Giỏ Hàng</span>
                                                    <span class="ltn__secondary-color" th:text="${cart.totalPriceDisplay} + ' VNĐ'"></span>
                                                </h6>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <!-- Mobile Menu Button -->
                                        <div class="mobile-menu-toggle d-lg-none">
                                            <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                                                <svg viewBox="0 0 800 600">
                                                    <path
                                                        d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                                                        id="top"
                                                    ></path>
                                                    <path d="M300,320 L540,320" id="middle"></path>
                                                    <path
                                                        d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                                                        id="bottom"
                                                        transform="translate(480, 320) scale(1, -1) translate(-480, -318) "
                                                    ></path>
                                                </svg>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__header-middle-area end -->
            <!-- header-bottom-area start -->
            <div class="header-bottom-area ltn__border-top ltn__header-sticky ltn__sticky-bg-white ltn__primary-bg---- menu-color-white---- d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col header-menu-column justify-content-center">
                            <div class="sticky-logo">
                                <div class="site-logo">
                                    <a href="/"><img th:src="@{/resources/front/img/logo.png}" style="max-width: 70%;" alt="Logo" /></a>
                                </div>
                            </div>
                            <div class="header-menu header-menu-2">
                                <nav>
                                    <div class="ltn__main-menu">
                                        <ul>
                                            <li><a href="/">Trang Chủ</a></li>
                                            <li><a>Giới Thiệu</a></li>
                                            <li><a href="/shop">Cửa Hàng</a></li>
                                            <li><a>Tin Tức</a></li>
                                            <li><a>Liên Hệ</a></li>

                                            <th:block th:if="${userLogin != null && userLogin.username != null}">
                                                    <li><a href="/auth/account" th:text="${'Xin chào, ' + userLogin.username}"></a></li>
                                                    <li><a href="/auth/order">Đơn Hàng</a></li>
                                                    <li><a th:if="${userLogin != null && userLogin.username != null}" href="/logout">Đăng Xuất</a></li>
                                            </th:block>

                                            <th:block th:if="${userLogin == null}">
                                                    <li><a href="/auth/login">Đăng NHập</a></li>
                                            </th:block>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-bottom-area end -->
        </header>
        <!-- Header -->

        <!-- Mobile -->
        <div id="ltn__utilize-mobile-menu" class="ltn__utilize ltn__utilize-mobile-menu">
            <div class="ltn__utilize-menu-inner ltn__scrollbar">
                <div class="ltn__utilize-menu-head">
                    <div class="site-logo">
                        <a href="/"><img th:src="@{/resources/front/img/logo.png}" alt="Logo" /></a>
                    </div>
                    <button class="ltn__utilize-close">×</button>
                </div>
                <div class="ltn__utilize-menu-search-form">
                    <form id="#123" method="get" action="/shop">
                        <input type="text" name="search" placeholder="Bạn muốn mua gì..." />
                        <button type="submit"><i class="icon-magnifier"></i></button>
                    </form>
                </div>
                <div class="ltn__utilize-menu">
                    <ul>
                        <li><a href="/">Trang Chủ</a></li>
                        <li><a>Giới Thiệu</a></li>
                        <li><a href="/shop">Cửa Hàng</a></li>
                        <li><a>Tin Tức</a></li>
                        <li><a>Liên Hệ</a></li>
                    </ul>
                </div>
                <div class="ltn__utilize-buttons ltn__utilize-buttons-2">
                    <ul>
                        <th:block th:if="${userLogin != null && userLogin.username != null}">
                            <li>
                                <a href="/" title="My Account">
                                <span class="utilize-btn-icon">
                                    <i class="icon-user"></i>
                                </span>
                                    Tài Khoản
                                </a>
                            </li>
                        </th:block>
                        <th:block th:if="${userLogin == null}">
                            <li>
                                <a href="/auth/login">
                                <span class="utilize-btn-icon">
                                    <i class="icon-user"></i>
                                </span>
                                    Đăng Nhập
                                </a>
                            </li>
                        </th:block>
<!--                        <li>-->
<!--                            <a href="/cart" title="Shoping Cart">-->
<!--                                    <span class="utilize-btn-icon mini-cart-icon">-->
<!--                                        <i class="icon-handbag"></i>-->
<!--                                        <sup th:text="${cart.cartItems.size()}"></sup>-->
<!--                                    </span>-->
<!--                                Giỏ Hàng-->
<!--                            </a>-->
<!--                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
        <!-- Mobile -->
    </div>
</html>
