<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>[[${product.name}]] - Vina Perfume</title>
        <meta name="robots" content="noindex, follow" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Place favicon.png}} in the root directory -->
        <link rel="shortcut icon" th:href="@{/resources/front/img/favicon.png}" type="image/x-icon" />
        <!-- Font Icons css -->
        <link rel="stylesheet" th:href="@{/resources/front/css/font-icons.css}" />
        <!-- plugins css -->
        <link rel="stylesheet" th:href="@{/resources/front/css/plugins.css}" />
        <!-- Main Stylesheet -->
        <link rel="stylesheet" th:href="@{/resources/front/css/style.css}" />
        <!-- Responsive css -->
        <link rel="stylesheet" th:href="@{/resources/front/css/responsive.css}" />
        <!-- Font awesome css-->
        <link rel="stylesheet" th:href="@{/resources/front/css/font-awesome-pro.css}"/>

        <style>
            .image-overplay {
                opacity: 0.9 !important;
                display: block !important;
                cursor: pointer !important;
            }
            .image-active {
                display: block !important;
                top: 15% !important;
                left: 40% !important;
            }
            #lightcase-icon-close {
                cursor: pointer;
                display: inline-block;
                width: 3em;
                text-align: center;
                position: fixed;
                top: 20px;
                right: 30px;
                bottom: auto;
                margin: 0;
                opacity: 0;
                outline: 0;
                color: rgba(255, 255, 255, .6);
                z-index: 9999;
            }
        </style>
    </head>

    <body>
        <!-- Body main wrapper start -->
        <div class="body-wrapper">
            <div th:replace="~{fragments/front/header :: header}"></div>
            <div class="ltn__utilize-overlay"></div>

            <!-- BREADCRUMB AREA START -->
            <div class="ltn__breadcrumb-area ltn__breadcrumb-area-4 ltn__breadcrumb-color-white---">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ltn__breadcrumb-inner text-center">
                                <h1 class="ltn__page-title" th:text="${product.name}"></h1>
                                <div class="ltn__breadcrumb-list">
                                    <ul>
                                        <li><a href="/">Trang Chủ</a></li>
                                        <li>Sản Phẩm</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BREADCRUMB AREA END -->

            <!-- SHOP DETAILS AREA START -->
            <div class="ltn__shop-details-area pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="ltn__shop-details-inner">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="ltn__shop-details-img-gallery ltn__shop-details-img-gallery-2">
                                            <div class="ltn__shop-details-small-img slick-arrow-2">
                                                <div class="single-small-img">
                                                    <img th:src="${product.image}" alt="Image" />
                                                </div>
                                                <!--                                                <div class="single-small-img">-->
                                                <!--                                                    <img th:src="@{/resources/front/img/product/2.png}" alt="Image" />-->
                                                <!--                                                </div>-->
                                                <!--                                                <div class="single-small-img">-->
                                                <!--                                                    <img th:src="@{/resources/front/img/product/3.png}" alt="Image" />-->
                                                <!--                                                </div>-->
                                                <!--                                                <div class="single-small-img">-->
                                                <!--                                                    <img th:src="@{/resources/front/img/product/4.png}" alt="Image" />-->
                                                <!--                                                </div>-->
                                                <!--                                                <div class="single-small-img">-->
                                                <!--                                                    <img th:src="@{/resources/front/img/product/5.png}" alt="Image" />-->
                                                <!--                                                </div>-->
                                                <!--                                                <div class="single-small-img">-->
                                                <!--                                                    <img th:src="@{/resources/front/img/product/6.png}" alt="Image" />-->
                                                <!--                                                </div>-->
                                                <!--                                                <div class="single-small-img">-->
                                                <!--                                                    <img th:src="@{/resources/front/img/product/7.png}" alt="Image" />-->
                                                <!--                                                </div>-->
                                            </div>
                                            <div class="ltn__shop-details-large-img">
                                                <div class="single-large-img">
                                                    <a th:src="${product.image}" onclick="myClick()">
                                                        <img th:src="${product.image}" alt="Image" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="modal-product-info shop-details-info pl-0">
                                            <h3 th:text="${product.name}"></h3>
                                            <div class="product-price-ratting mb-20">
                                                <ul>
                                                    <li>
                                                        <div class="product-price">
                                                            <span th:text="${product.priceDisplay + ' VNĐ'}"></span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="modal-product-brief">
                                                <p th:text="${product.description}"></p>
                                            </div>
                                            <div class="ltn__product-details-menu-2 product-cart-wishlist-btn mb-30">
                                                <form th:action="@{/cart}" method="post">
                                                    <ul>
                                                        <li>
                                                            <div class="cart-plus-minus">
                                                                <input
                                                                    type="text"
                                                                    value="1"
                                                                    name="quantity"
                                                                    class="cart-plus-minus-box"
                                                                />
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <button class="theme-btn-1 btn btn-effect-1 d-add-to-cart">
                                                                <span>Mua Hàng</span>
                                                            </button>
                                                            <input
                                                                type="hidden"
                                                                name="productId"
                                                                th:value="${product.id}"
                                                            />
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                            <div class="modal-product-meta ltn__product-details-menu-1 mb-30">
                                                <ul>
                                                    <li>
                                                        <strong>Danh Mục:</strong>
                                                        <span>
                                                            <a
                                                                th:href="${'/shop?categoryId=' + product.category.id}"
                                                                th:text="${product.category.name}"
                                                            ></a>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SHOP DETAILS AREA END -->

            <!-- SHOP DETAILS TAB AREA START -->
            <div class="ltn__shop-details-tab-area pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ltn__shop-details-tab-inner">
                                <div class="ltn__shop-details-tab-menu">
                                    <div class="nav">
                                        <a class="active show" data-bs-toggle="tab" href="#liton_tab_details_1_1"
                                            >Mô Tả</a
                                        >
                                        <a data-bs-toggle="tab" href="#liton_tab_details_1_4" class="">Giao Hàng</a>
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane fade active show" id="liton_tab_details_1_1">
                                        <div class="ltn__shop-details-tab-content-inner text-center">
                                            <p th:utext="${product.detail}"></p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="liton_tab_details_1_4">
                                        <div class="ltn__shop-details-tab-content-inner">
                                            <h4 class="title-2">1. Thời gian giao hàng và phạm vi giao hàng</h4>
                                            <p>
                                                Sau khi Quý khách đặt hàng thành công. Trong thời hạn 24h đội ngũ chăm
                                                sóc khách hàng của chúng tôi sẽ tiến hành gọi điện thoại xác nhận đơn
                                                hàng. Sau khi xác nhận thành công, đơn hàng sẽ được giao cho Quý khách
                                                trong khoảng thời gian như sau:
                                            </p>
                                            <ul>
                                                <li>Giao hàng tại nội thành Hà Nội dự kiến trong vòng 1 ngày.</li>
                                                <li>Giao hàng tại HCM: dự kiến trong vòng 3 - 5 ngày làm việc.</li>
                                                <li>Giao hàng các tỉnh thành khác : 2- 5 ngày làm việc.</li>
                                            </ul>

                                            <h4 class="title-2">2. Chi phí giao hàng</h4>
                                            <p>
                                                Vina Perfume luôn hướng đến việc cung cấp dịch vụ vận chuyển tốt nhất
                                                với mức phí cạnh tranh cho tất cả các đơn hàng mà quý khách đặt với
                                                chúng tôi. Sau đây là biểu giá áp dụng cho các đơn hàng được chuyển đi
                                                tại Vina Perfume.
                                            </p>
                                            <ul>
                                                <li>
                                                    Miễn phí giao hàng với tổng giá trị đơn hàng tối thiểu từ 1.000.000
                                                    đ trở lên (trừ sản phẩm đang hot sale).
                                                </li>
                                                <li>
                                                    Các quận nội thành HN: 30.000 – 40.000 đ/lần giao hàng ( Tùy địa chỉ
                                                    của KH).
                                                </li>
                                                <li>
                                                    Các quận ngoại thành & Các tỉnh thành khác: 30.000 /1 lần giao hàng.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SHOP DETAILS TAB AREA END -->

            <!-- PRODUCT SLIDER AREA START -->
            <div class="ltn__product-slider-area pb-40">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title-area text-center">
                                <h1 class="section-title section-title-border">Sản Phẩm Liên Quan</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row ltn__related-product-slider-one-active slick-arrow-1">
                        <div class="col-12" th:each="item : ${productRelated}">
                            <div class="ltn__product-item ltn__product-item-4">
                                <div class="product-img">
                                    <a th:href="'/product/' + ${item.id}"><img th:src="@{${item.image}}" alt="#" /></a>
                                    <div class="product-badge">
                                        <ul>
                                            <li class="badge-2">HOT</li>
                                        </ul>
                                    </div>
                                    <div class="product-hover-action product-hover-action-3">
                                        <ul>
                                            <li>
                                                <a
                                                    th:href="@{'/cart/add-to-cart?productId=' + ${item.id}}"
                                                    title="Add to Cart"
                                                >
                                                    <i class="icon-handbag"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h2 class="product-title">
                                        <a th:href="'/product/' + ${item.id}" th:text="${item.name}" style="-webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; display: -webkit-box; font-weight: bold"></a>
                                    </h2>
                                    <div class="product-price">
                                        <span th:text="${item.priceDisplay + ' VNĐ'}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PRODUCT SLIDER AREA END -->

            <div th:replace="~{fragments/front/footer :: footer}"></div>
        </div>
        <!-- Body main wrapper end -->

        <!-- All JS Plugins -->
        <script th:src="@{/resources/front/js/plugins.js}"></script>
        <!-- Main JS -->
        <script th:src="@{/resources/front/js/main.js}"></script>

        <div id="lightcase-overlay" onclick="closeElement()"></div>
        <div id="lightcase-case" role="dialog"
             class="">
            <div id="lightcase-content">
                <div class="lightcase-contentInner" style="opacity: 1; width: 340.742px; height: 442.988px; max-width: 100%;">
                    <img th:src="@{${product.image}}" style="max-width: 1170px; max-height: 443px;"></div>
            </div>
        </div>
        <div id="lightcase-icon-close" onclick="closeElement()">
            <i class="fa-sharp fa-regular fa-circle-xmark" style="font-size: 40px"></i>
        </div>
        <script>
            function myClick() {
            document.getElementById("lightcase-case").classList.add("image-active");
            document.getElementById("lightcase-overlay").classList.add("image-overplay");
            document.getElementById("lightcase-icon-close").style.opacity = "1";
        }
        function closeElement() {
            document.getElementById("lightcase-case").classList.remove("image-active");
            document.getElementById("lightcase-overlay").classList.remove("image-overplay");
            document.getElementById("lightcase-icon-close").style.opacity = "0";
        }
        </script>
    </body>
</html>
